.left
  %fieldset
    %legend General
    = f.input :last_name
    = f.input :first_name
    = f.input :email

    - if local_assigns.has_key? :admin
      = f.association :role

  - if local_assigns.has_key? :edit
    %fieldset
      %legend Password
      = f.input :password, hint: "Leave blank if you don't want to change it"
      = f.input :password_confirmation, label: "Confirmation"
      = f.input :current_password, hint: "We need your current password to confirm chages", label: "Current", required: true

  - if local_assigns.has_key? :new
    %fieldset
      %legend Password
      = f.input :password
      = f.input :password_confirmation, label: "Confirmation"

  %fieldset
    %legend Address
    = f.input :road
    = f.input :apt_number
    = f.input :city
    = f.input :province
    = f.input :postal_code

.right
  %fieldset
    %legend Other
    = f.input :gender
    = f.input :dob

  %fieldset
    %legend License
    = f.input :license_number, label: "Number"
    = f.input :possession_limit, label: "Limit"
    = f.input :license_expiry, label: "Expires"

.bottom
  - if local_assigns.has_key? :edit
    = f.submit "Update"
    %h2 Cancel my account
    %p
      Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.

  - if local_assigns.has_key? :new
    = f.submit "Sign up"
    = render :partial => "devise/shared/links"

  - if local_assigns.has_key? :admin
    = f.button :submit
