%h1 User List

%table#user-list
  %thead
    %tr
      %th Last Name
      %th First Name
      %th Email
      %th Role
      %th
  %tbody
    - @users.each_with_index do |user,i| 
      %tr.user{:class => i % 2 == 0 ? 'odd' : 'even'}
        %td= user.last_name
        %td= user.first_name
        %td= user.email
        %td= user.role.name
        %td
          = link_to 'Edit', edit_admin_user_path(user)
          = link_to_if user.unauthorized?, 'Authorize', authorize_admin_user_path(user), method: :put, confirm: "Are you sure you want to authorize #{user.full_name}?"
