= simple_form_for @product, :html => { :multipart => true } do |f|

  -if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .left
    - if local_assigns.has_key? :new
      .input.file
        = f.label :image
        = f.file_field :image
    - if local_assigns.has_key? :edit
      .input.file
        %label Image
        = image_tag @product.image.url(:medium)

    = f.input :price
    = f.input :unit

  .right
    = f.input :title
    = f.input :description, as: :text
    = f.submit
