= form_for @product, :html => { :multipart => true } do |f|
  -if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  %p.field
    .label
      = f.label :title
    .data
      = f.text_field :title
  %p.field
    .label
      = f.label :description
    .data
      = f.text_area :description
  %p.field
    .label
      = f.label :image
    .data
      = f.file_field :image
  %p.field
    .label
      = f.label :price
    .data
      = f.text_field :price
  %p.field
    .label
      = f.label :unit
    .data
      = f.text_field :unit
  %p.field
    .label
      = f.label :hidden
    .data
      = f.check_box :hidden
  .actions
    = f.submit 'Save'
