= simple_form_for @product, :html => { :multipart => true } do |f|

  -if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .left
    %fieldset
      %legend Info
      = f.input :title, hint: "A unique, descriptive title."
      = f.input :price, hint: "Price for 1 gram of this product."
      = f.input :description, as: :text, hint: "As much information about this product as possible."

  .right
    %fieldset
      %legend Image
      - if @product.image.present?
        .input.file
          .image
            = image_tag @product.image.url(:medium)
          = f.label :image, "Change"
          = f.file_field :image
      - else
        .input.file
          = f.label :image
          = f.file_field :image

  .bottom
    = f.submit
