%ul#tab-nav
  %li= link_to 'Home', root_path

  - if user_signed_in?

    - if can? :read, Product 
      %li= link_to 'Products', products_path
    - if can? :index, User
      %li= link_to 'Users', admin_users_path

    %li= link_to('Edit account', edit_user_registration_path)
  - else
    %li= link_to('Sign up', new_user_registration_path)
