%html
%head
  %title
    = @title
    \- Above All
  = csrf_meta_tags
  = render 'layouts/stylesheets'
%body
  .container
    .header.span-24
      = render 'layouts/header'
    .span-24
      = render 'layouts/tabs'
      .content.span-23.last
        = yield
